<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adopt These Pets</title>
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1127125884039809',
          xfbml      : true,
          version    : 'v2.8'
        })
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container">
    <form action="{% url 'login:index' %}" method="POST" class="form-horizontal">
        {% csrf_token %}
        <input class="btn btn-default" id="submitbutton" type="submit" value="logout">
    </form>
    {%for pet in adopt%}
    {%if pet.record_type == 'ADOPTABLE'%}
    <div class="col-md-9 blogShort">
    <h1>{{pet.animal_name}}</h1>
    <img src="{{pet.image}}" width="500px" length="500px" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
    <article>
      <p>{{pet.age}}</p>
      <p>{{pet.animal_breed}}</P>
      <p>{{pet.memo|safe}}</p>
    </article>
      {{pet.location_for_map}}
      <br>
    </div>
    <script type="text/javascript">
      var x = "{{pet.memo|safe}}"
    </script>
    <script type="text/javascript">
      console.log(x)
    </script>
    <!-- <button onclick="myFacebookLogin()">Login with Facebook</button> -->
      <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>
    <hr>
    {%endif%}
    {%endfor%}
    </div>
  </body>
</html>
