<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adopt These Pets</title>
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1127125884039809',
          xfbml      : true,
          version    : 'v2.8'
        })
      };
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    {%for pet in adopt%}
    {%if pet.record_type == 'ADOPTABLE'%}
    <br>
    <p>{{pet.animal_name}}</p>
    <p>{{pet.age}}</p>
    <img src="{{pet.image}}" alt="" />
    <p>{{pet.animal_breed}}</p>
    <p>{{pet.memo|safe}}</p>
    <p>
      {{pet.location_for_map}}
    </p>
    <script type="text/javascript">
      var x = "{{pet.memo|safe}}"
    </script>
    <script type="text/javascript">
      console.log(x)
    </script>
    <!-- <button onclick="myFacebookLogin()">Login with Facebook</button> -->
      <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>
    <hr>
    {%endif%}
    {%endfor%}

  </body>
</html>
