<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lost Pets</title>
  </head>
  <body>
    <form class="" action="#" method="post" style = 'border:1px solid black; padding:5px; height:auto; width:300px;'>
      {%csrf_token%}
      <p><input type="text" name="pet_name" placeholder="Name"></p>
      <p><input type="text" name="pet_breed" placeholder="Breed"></p>
      <p><input type="text" name="pet_location" placeholder="Location Lost"></p>
      <p><input type="date" name="pet_date" placeholder="Date Lost"></p>
      <p><textarea name="pet_notes" rows="8" cols="40" placeholder="Notes"></textarea></p>
      <p>Pet Image: <input type="file" name="pet_image" ></p>
      <select class="" name="pet_status">
        <option value="LOST">Lost</option>
        <option value="FOUND">Found</option>
      </select>
      <p>
        <input type="submit" name="name" value="Submit">
      </p>
    </form>

    {%for pet in lost%}
    {%if pet.record_type == 'LOST'%}
    <br>
    <p>{{pet.animal_name}}</p>
    <p>{{pet.age}}</p>
    <img src="{{pet.image}}" alt="" />
    <p>{{pet.animal_breed}}</p>
    <p>{{pet.memo|safe}}</p>
    <hr>
    {%endif%}
    {%endfor%}
  </body>
</html>
