<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lost Pets</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    {%for pet in lost%}
    {%if pet.record_type == 'LOST'%}
    <br>
    <p>{{pet.animal_name}}</p>
    <p>{{pet.age}}</p>
    <img src="{{pet.image}}" alt="" />
    <p>{{pet.animal_breed}}</p>
    <p>{{pet.memo|safe}}</p>
    <hr>
    {%endif%}
    {%endfor%}

  </body>
</html>
