<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lost Pets</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="login/lost.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
    </head>
  <body>
    <div class="container">
      <div class="col-md-9 blogShort">
        {%for pet in lost%}
        {%if pet.record_type == 'LOST'%}
        <h1>{{pet.animal_name}}</h1>
        <img src="{{pet.image}}" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
          <article>
            <p>{{pet.age}}</p>
            <p>{{pet.animal_breed}}{{pet.memo|safe}}</p>
          </article>
        {%endif%}
        {%endfor%}
          <a class="btn btn-blog pull-right marginBottom10" href="">Direction</a>
      </div>
    </div>
    <form class="" action="#" method="post" style = 'border:1px solid black; padding:5px; height:auto; width:300px;'>
      {%csrf_token%}
      <div class="item">
      <p><input type="text" name="pet_name" placeholder="Name"></p>
      <p><input type="text" name="pet_breed" placeholder="Breed"></p>
      <p><input type="text" name="pet_location" placeholder="Location Lost"></p>
      <p><input type="date" name="pet_date" placeholder="Date Lost"></p>
      <p><textarea name="pet_notes" rows="8" cols="40" placeholder="Notes"></textarea></p>
      <p>Pet Image: <input type="file" name="pet_image" ></p>
      <select class="" name="pet_status">
        <option value="LOST">Lost</option>
        <option value="FOUND">Found</option>
      </select>
      <p>
        <input type="submit" name="name" value="Submit">
      </p>
      </div>
    </form>
  </body>
</html>
